.container{
    display: flex;
    justify-content: space-around;
}

.data-container {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 45%;
}

.photo-container {
    display: block;
    background-color: yellowgreen;
    display: inline-flex;
    border-radius: 10px;
    width: max-content;
    height: max-content;
 }
 
 .photo-container figure {
    padding: 10px;
 }

 .data-container .field{
    margin: auto;
    background: white;
    padding: 10px;
    justify-content: center;
    border-radius: 10px;
}

.actions{
    margin-top: 20px;
}

.actions input{
    height: 50px;
    width: 20%;
    border-radius: 10px;
    padding: 10px;
}

.actions input:active{
    background: yellowgreen;
}

.field input, .field textarea{
    padding: 10px;
    border-radius: 10px;
}

