.container{
    display: flex;
    justify-content: space-around;
}

.data-container {
    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 45%;
}

.photo-container {
    display: inline;
    background-color: yellowgreen;
    display: inline-flex;
    border-radius: 10px;
    width: max-content;
    height: max-content;
 }
 
 .photo-container figure {
    padding: 10px 10px 10px 10px;
 }

 .data-container .field{
    display: block;
    margin: auto;
    background: white;
    padding: 10px;
    justify-content: center;
    border-radius: 10px;
 }

